{% extends "base.html.twig" %}

{% block title %}
	{{ student.firstName }}
	{{ student.lastName }}
{% endblock %}

{% block icon %}
{% if student.thumbnail %}
	rel="icon" href="{{ asset(student.thumbnail, 'uploads') }}"
{% endif %}
{% endblock %}

{% block logo %}
{% if student.thumbnail %}
	<img src="{{ asset(student.thumbnail, 'uploads') }}" alt="img">
{% endif %}
{% endblock %}
{# {% block edit_student %}{{ path('edit_student', {id: student.id}) }}{% endblock %} #}
{% block body %}

	<h1>{{ student.firstName }}
		{{ student.lastName }}</h1>
	<p><span class="fw-bold">Birthdate: </span> {{ student.dateOfBirth }}</p>
	<p class="fw-bold">Image: </p>
	{% if student.image %}
		<img src="{{ asset(student.image, 'uploads') }}" alt="img">
	{% endif %}
	
	{# {% if student.class %}
		<p><span class="fw-bold">Class: </span> {{ student.class.course.name ~ " " ~ student.class.time }}</p>
	{% endif %} #}
	{# <a href="/student/addclass/{{ student.id }}" class="btn btn-dark">Add Class</a> #}
	{% if is_granted('ROLE_STUDENT') or is_granted('ROLE_ADMIN') %}
		<a href={{ path('register_class', {id: student.id}) }} class="btn btn-dark">Add Class</a>
	{% endif %}
	{% if classes %}
        <table id="classes" class="table table-striped">
            <thead>
                <tr>
                    <th>classes</th>
                </tr>
            </thead>
            <tbody>
                {% for class in classes %}
                <tr>
                    <td>{{ class.course.name ~ " - " ~ class.time }}</td>
					{% if grades %}
						{% for grade in grades %}
							{% if grade.class == class %}
								<td>Grade: {{grade.grade}}</td>
							{% endif %}
						{% endfor %}
					{% endif %}
                    <td>
                        {# <a href="/class/{{ class.id }}" class="btn btn-dark">Show</a>
                        <a href="/class/edit/{{ class.id }}" class="btn btn-light">Edit</a> #}
                        {# <a href="/student/deleteclass/{{ student.id }}/{{ class.id }}" class="btn btn-danger">Drop</a> #}
						{% if is_granted('ROLE_COORDINATOR') %}
							<a href={{ path('add_grade', {sid: student.id, cid: class.id}) }} class="btn btn-info">Add Grade</a>
						{% endif %}
						{% if is_granted('ROLE_STUDENT') or is_granted('ROLE_ADMIN') %}
							<a href={{ path('drop_class', {sid: student.id, cid: class.id}) }} class="btn btn-danger">Drop</a>
						{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No classes to display</p>
    {% endif %}
	<hr>
	{% if is_granted('ROLE_STUDENT') or is_granted('ROLE_ADMIN') %}
		<a href={{ path('edit_student', {id: student.id}) }}>Edit</a>
	{% endif %}
{% endblock %}
