{% extends "base.html.twig" %}

{% block title %}
	{{ student.firstName }}
	{{ student.lastName }}
{% endblock %}

{% block icon %}
{% if student.thumbnail %}
	rel="icon" href="{{ asset(student.thumbnail, 'uploads') }}"
{% endif %}
{% endblock %}

{% block logo %}
{% if student.thumbnail %}
	<img src="{{ asset(student.thumbnail, 'uploads') }}" alt="img">
{% endif %}
{% endblock %}
{# {% block edit_student %}{{ path('edit_student', {id: student.id}) }}{% endblock %} #}
{% block body %}

	<h1>{{ student.firstName }}
		{{ student.lastName }}</h1>
	<p><span class="fw-bold">Birthdate: </span> {{ student.dateOfBirth }}</p>
	<p class="fw-bold">Image: </p>
	{% if student.image %}
		<img src="{{ asset(student.image, 'uploads') }}" alt="img">
	{% endif %}
	
	{% if student.class %}
		<p><span class="fw-bold">Class: </span> {{ student.class.name }}</p>
	{% endif %}
	<hr>
	{% if is_granted('ROLE_STUDENT') %}
		<a href={{ path('edit_student', {id: student.id}) }}>Edit</a>
	{% endif %}
{% endblock %}
