{% extends "base.html.twig" %}

{% block title %}Courses
{% endblock %}

{% block body %}
	<a href={{ path('course_filter') }} class="btn btn-secondary">Filter Courses</a>

	{% if courses %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Course</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for course in courses %}
					<tr>
						<td>{{ course.name }}</td>
						<td>
							<a href={{ path('course_details', {id: course.id}) }} class="btn btn-dark">Details</a>
							{% if is_granted('ROLE_COORDINATOR') %}
								<a href={{ path('edit_course', {id: course.id}) }} class="btn btn-light">Edit</a>
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
								<a href={{ path('delete_course', {id: course.id}) }} class="btn btn-danger">Delete</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if is_granted('ROLE_COORDINATOR') %}
			<a href={{ path('add_course') }} class="btn btn-primary mb-3">New Course</a>
		{% endif %}
		{{ knp_pagination_render(courses, "@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig") }} 
	{% else %}
		<p>No courses to display</p>
	{% endif %}
{% endblock %}